*

!index.js
!umd/index.js
!umd/index.min.js
!animation.js
!umd/animation.js
!umd/animation.min.js
!forms.js
!umd/forms.js
!umd/forms.min.js

!index.d.ts

!examples/**
examples/*.js
!logo-256x256.svg
