*

!index.mjs
!umd/index.js
!umd/index.min.js
!animation.mjs
!umd/animation.js
!umd/animation.min.js
!dom.mjs
!umd/dom.js
!umd/dom.min.js
!forms.mjs
!umd/forms.js
!umd/forms.min.js
!state.mjs
!umd/state.js
!umd/state.min.js
!string.mjs
!umd/string.js
!umd/string.min.js

!umd/malevic.min.js

!index.d.ts

!logo-256x256.svg
